body {
    background: #ffffff;
}

aside {
    float: left;  /*расположение меню*/
    background: #2c2c2c;
    width: 20%;  /*ширина меню*/
    padding: 2.5% 1% 2.5% 2.5%;  /*отступы*/
    height: 100%;  /*100% высоты экрана*/
    color: #ffffff;
    border-right: 5px solid #4d4d4d;  /*обводка с правой стороны, ширина 5 пикселей, сплошная, цвет*/
    position: fixed;
    top: 0;
}

aside img {
    width: 110px;
    float: left;  /*позиционирование*/
    margin-left: -25px;
}

aside .logo {
    font-size: 50px;  /*размер шрифта*/
    margin-left: 10px;
    font-weight: bold;  /*насыщенность(начертание) шрифта: жирный*/
    position: relative;  /*позиционирование элемента: relative - положение установлено относительно его исходного места*/
    top: 18px;  /*смещение от первоначального расположения*/
    text-decoration: none;
    color: #ffffff;
}

aside ul {
    list-style: none;  /*убираем маркировку*/
    margin-top: 60px;
}

aside ul li {
    color: #ffffff;
    display: block;  /*блочные элементы друг за другом вниз*/
    margin-top: 20px;
    transition: transform .3s ease;  /*плавность для transform(который увеличивает текст при наведении)*/
    font-size: 20px;
}
/*несколько тегов, hover - отвечает за наведение на ссылку*/
aside ul li:hover, aside ul a:hover, a {
    color: #ffca2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.06);  /*увеличиваем текст при наведении на 6%*/
}

aside i {
    margin: 3px;  /*отступ иконок от текста*/
}


main {
    width: 80%;
    margin-left: 20%;
}


main .features, main .shadowbox {
    color: #4d4d4d;  /*цвет текста*/
    text-align: center;  /*расположение текста*/
}

main .btn-dark {
    position: absolute;
    right: 25px;
    top: 25px;
    width: 250px;
    height: 55px;
    font-size: 19px;
    background-color: #2c2c2c;
    transition: transform .3s ease;
}

main .btn-dark:hover {
    color: #ffca2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.05);
}

.fa-plus-circle {
    margin-right: 8px;
}

main .features h1, .shadowbox h1 {
    font-size: 55px;  /*размер текста*/
    font-weight: bold;
    margin-top: 3vh;
}

main .features h3, .shadowbox h3 {
    font-size: 30px;  /*размер текста*/
    font-weight: bold;
}

main .features p, .shadowbox p{
    max-width: 400px;   /*максимально допустимая ширина текста*/
    margin: 0px auto;  /* отступ сверху и снизу 20 пикселей, остальное автоматически(по бокам)*/
    font-size: 19px;
}


main .delete-article{
    background-color: #d31300;
    color: #ffffff;
    padding: 3px 0;
    margin-right: 20px;
    border-radius: 4px;
    display: inline-block;
    width: 60px;
    border: 1px solid #2c2c2c;
}

main .edit-article{
    background-color: #33a250;
    color: #ffffff;
    padding: 3px 0;
    border-radius: 4px;
    display: inline-block;
    width: 60px;
    border: 1px solid #2c2c2c;
}

main .edit-article:hover, main .delete-article:hover {
    color: #2c2c2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.10);  /*увеличиваем текст при наведении на 6%*/
    transition: transform .2s ease;
}

main .create-article {
    font-size: 20px;
    color: #ffffff;
    background-color: #2c2c2c;
    border: none;
    border-radius: 4px;
    width: 140px;
    padding: 3px 0;
    transition: transform .2s ease;
}

main .create-article:hover {
    color: #ffca2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.04);

}

main .buttons {
    text-align: center;
    margin: 15px auto;

}

main .btn-success{
    background-color: #33a250;
    color: #ffffff;
    padding: 4px 0;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    border: 1px solid #2c2c2c;
    transition: transform .3s ease;
}

main .btn-success:hover{
    background-color: #33a250;
    color: #2c2c2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.08);  /*увеличиваем текст при наведении на 6%*/
}

main .success-delete {
    background-color: #d31300;
    color: #ffffff;
    padding: 5px 0;
    margin-right: 45px;
    border-radius: 4px;
    display: inline-block;
    width: 120px;
    border: 1px solid #2c2c2c;
    font-size: 25px;
}

main .success-delete:hover{
    color: #2c2c2c;
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.04);  /*увеличиваем текст при наведении на 6%*/
    transition: transform .3s ease;
}


.shadowbox h3, .shadowbox p {
    color: white;
}

.shadowbox, .features {
    min-height: 89vh;
}

.shadowbox h1 {
    margin-bottom: 40px;
}

.alert-dark {
    border: 1px solid #333;
    box-shadow: 4px 3px 27px 4px rgba(34, 60, 80, 0.6);
    padding: 8px 12px;
    background-color: #2c2c2c;
    width: 400px;
    margin: 20px 34% 40px 34%;
    text-align: left;
    transition: transform .5s ease;
}

.alert-dark:hover {
    text-decoration: none;  /*убираем подчеркивание*/
    transform: scale(1.05);
}

.btn-warning{
    margin-bottom: 4px;
    margin-left: 5px;
    margin-top: 10px;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

iframe {
    float: left;
    clear: both;
    width: 800px;
    margin: 20px 20%;
    height: 480px;
}

footer {
    float: left;
    height: 8vh;
    color: #ffffff;
    background: #2c2c2c;
    box-shadow: 0px 0px 37px -26px rgba(255, 255, 255, 0.39) inset;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: inline-block;
    margin: 0 0 0 -40px;
}

.socials li {
    display: inline; /* Отображать как строчный элемент */
    margin-left: 20px;
    font-size: 23px;
    color: #ffffff;
}

.fa-telegram {
    color: dodgerblue;
}

.fa-linkedin {
    color: #2867b2;
}

.fa-github-square {
    color: #f5f5f5;
}

.fa-github-square, .fa-linkedin, .fa-telegram {
    margin-right: 3px;
}

.f-logo{
    width: 40px;
    height: 40px;
    margin-left: -10px;
}

.m-block{
    display: inline-block;
    font-size: 21px;
    margin-right: 20px;
}

.m-block a {
    color: #ffffff;
}

.fa-envelope {
    margin-right: 2px;
}

/*.about-ul {*/
/*    !*float: left;*!*/
/*    !*position: absolute;*!*/
/*    !*width: 30%;*!*/
/*}*/

/*main .about-ul li {*/
/*    position: absolute;*/
/*    width: 30%;*/

/*}*/
/*    text-align: center;  /*расположение текста*/
/*    max-width: 400px;   /*максимально допустимая ширина текста*/
/*    margin: 0px auto;  !* отступ сверху и снизу 20 пикселей, остальное автоматически(по бокам)*!*/
/*    font-size: 19px;*!*/

.about-div-ul {
    margin: 0 0 0 0;
}