{% extends 'main/layout.html'%}

{% block title %}News{% endblock %}

{% block content %}
    <div class="features">  <!--создали класс в диве-->
        <h1>New news in crypto</h1>
        {% if news %} {# Если записи есть - тогда их выводим, если нет - пишем, что записей нет #}
            {% for el in news %}
                <div class="alert alert-dark">
                    <h3>{{el.title}}</h3>
                    <p>{{el.anons}}</p>
                    <a href="{% url 'news-detail' el.id %}" class="btn btn-warning">Читать детальнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей!</p>
        {% endif %}
    </div>
{% endblock %}