{% extends 'main/layout.html'%}

{% block title %}About us{% endblock %}

{% block content %}
    <div class="features">  <!--создали класс в диве-->
        <h1>About us</h1>
        <p>Max is the creator and ideological inspirer</p>
        <button class="btn btn-danger">Just a button</button>  <!--кнопка с помощью bootstrap стилей-->
        <iframe src="https://ru.widgets.investing.com/top-cryptocurrencies?theme=darkTheme"
                width="100%" height="100%" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
    </div>

{% endblock %}