{% extends 'main/layout.html'%}

{% block title %}Main page{% endblock %}

{% block content %}
    <div class="features">  <!--создали класс в диве-->
        <h1>Main page</h1>
        <p class="text-index">A trader is not a profession, a trader is a lifestyle.</p>
        <!--<button class="btn btn-warning">Go to the page about us</button>-->  <!--кнопка с помощью bootstrap стилей-->
        <iframe src="https://www.widgets.investing.com/top-cryptocurrencies?theme=darkTheme" width="100%" height="100%"
                frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
    </div>
{% endblock %}
